html, body {
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
.column {
  margin-right: 30px;
}
.column.large {
  width: 630px;
  min-width: 630px;
}
.column.medium {
  width: 300px;
  min-width: 300px;
}
.column.small {
  width: 240px;
  min-width: 240px;
  flex-flow: column wrap;
}
header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  max-height: 80px;
  align-items: center;
  background-color: white;
}
.gap {
  height: 80px;
}
main {
  display: flex;
  position: static;
  min-width: 1260px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.header_logotext {
  color: MediumAquamarine;
  display: inline-block;
  margin-left: 10px;
}
.header_link {
  display: flex;
  color: black;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-right: 30px;
}
span {
  display: inline-block;
  margin: 10px 15px;
}
.main_image{
  display: flex;
  height: 300px;
  background-image: url('../img-story-main.png');
  align-items: center;
}
.main_image p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-left: 20px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.story2 {
  display: flex;
  background-image: url('../img-story-2.png');
  height: 300px;
  justify-content: center;
  align-items: center;
}
.story2 p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.story3 {
  display: flex;
  background-image: url('../img-story-3.png');
  height: 300px;
  justify-content: center;
  align-items: center;
}
.story3 p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.story1 {
  display: flex;
  background-image: url('../img-story-1.png');
  height: 300px;
  justify-content: center;
  align-items: center;
}
.story1 p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.left {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 300px;
}
.right {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 300px;
}
.split {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.list p {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid black;
}
.news_bites h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
footer {
  background-color: MediumAquamarine;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: Verdana;
  font-size: 12px;
}
#footer_my_times {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-top: 0;
}
